*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*Now: 10px = 1rem*/
}

/* VARIABLES: */
:root {
  --mainFont: "Poppins", sans-serif;
  --borderRadius: 0.5rem;
  --borderRadiusLarge: 1.5rem;

  --primaryBackground: #fff;
  --primaryAccent: #73fbd3;
  --secondaryAccent: #31afd4;
  --primaryContrast: #2f4858;
  --secondaryContrast: #546d79;
  --tertiaryContrast: #64e9ee;
  --lightFontColor: #74747;
}

body {
  font-family: var(--mainFont) !important;
  font-size: 1.8rem;
}

p {
  line-height: 2.7rem;
}

/*==========================
GENERAL LAYOUT
==========================*/
.primary-contrast-background {
  background-color: var(--primaryContrast);
}

.primary-contrast-background * {
  color: #fff;
}

.rounded-edges {
  border-radius: var(--borderRadiusLarge);
}

.full-height {
  height: 100vh;
}

/*==========================
GENERAL UI
==========================*/
.selected-text {
  color: var(--secondaryAccent);
}

.selected-area {
  color: var(--secondaryAccent);
}

i {
  color: var(--secondaryAccent);
}

.icon-large {
  font-size: 2rem;
}
.icon-xlarge {
  font-size: 3rem;
}

small {
  font-size: 1rem;
}

.light-box {
  z-index: 101;
  position: absolute;
}

.explanation-text {
  font-size: 1.8rem;
  color: var(--lightFontColor);
}

a {
  text-decoration: none;
  color: var(--tertiaryContrast);
  cursor: pointer;
  transition: color 0.5s;
}

a:hover {
  color: var(--secondaryAccent);
  transition: color 0.5s;
}

/*=================== 
HEADERS
===================*/
h1 {
  font-size: 4rem;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.section-header {
  font-size: 4rem;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
}

.subheader {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: medium;
}

/*==========================
BUTTONS
===========================*/
.btn {
  margin: 1rem 0;
  cursor: pointer;
  font-size: 2.2rem;
  border-radius: var(--borderRadius);
  padding: 0.5rem 2rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}

.btn-small {
  padding: 0.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: none;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  background-color: var(--primaryAccent);
  color: var(--secondaryContrast);
  transition: all 0.3s;
}

.btn-primary:hover {
  filter: brightness(80%);
  transition: all 0.3s;
}

/*================
FORMS 
================*/
form {
  display: block;
  width: 100%;
}

.form-only {
  padding: 3rem 0;
}

input {
  display: block;
  padding: 1rem;
  width: 100%;
  background-color: #fff;
  border: 0.1rem solid lightgray;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
  color: #000 !important;
}

.form-field {
  margin-bottom: 2.5rem;
}

input:focus {
  outline: none;
}

.form-error {
  color: red;
  display: block;
}
.input-error {
  border: 2px solid red !important;
}

/*=============================
NAVBAR
=============================*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  background-color: var(--secondaryContrast);
  padding: 0 1rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

/* CHOOSE MONTH COMPONENT */

i {
  cursor: pointer;
}
.choose-month .fa-chevron-left {
  padding-right: 1rem;
}
.choose-month .fa-chevron-right {
  padding-left: 1rem;
}

.selection-list-item {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* CALENDAR GRID COMPONENT */
.calendar-grid h3 {
  display: inline;
}

.calendar-grid .col {
  padding: 2rem;
}

.calendar-grid sup {
  margin-left: 0.5rem;
}

.calendar-grid th,
.calendar-grid td {
  border-bottom: 0.1rem solid #ddd;
  padding: 1rem;
  min-width: 20rem;
}

/*==================  
LIGHT-BOX
===================*/
.date-picker-form,
.react-time-picker__wrapper {
  cursor: pointer;
  z-index: 20000;
}

.date-picker-form input,
.react-time-picker__wrapper input {
  display: initial !important;
  color: var(--lightFontColor) !important;
}

.light-box-card {
  background-color: #fff;
  border-radius: var(--borderRadiusLarge);
  padding: 3rem;
}

.light-box-card i {
  margin-right: 2rem;
}

.light-box-card input {
  border: none;
  border-bottom: 2px solid var(--secondaryAccent);
  font-size: 2.2rem;
}

.react-date-picker__wrapper,
.react-time-picker__wrapper {
  border: none !important;
}

.react-date-picker__wrapper input,
.react-time-picker__wrapper input {
  border-bottom: none !important;
}

.inline-children {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox {
  display: inline-block;
  width: inherit;
  margin-bottom: 0;
  border-radius: var(--borderRadius);
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1rem;
  cursor: pointer;
}

.time-picker-end {
  margin-left: 2.5rem;
}

.light-box .btn {
  border-bottom: none;
  width: initial;
}

/*========================================
EVENT DASHBOARD ITEM
========================================*/
.event-db-item {
  width: 100%;
  height: 6rem;
  border-radius: var(--borderRadiusLarge);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  padding: 1rem;
}

.event-db-item-title {
  font-size: 1.4rem;
  color: var(--lightFontColor);
}
