*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*Now: 10px = 1rem*/
}

/* VARIABLES: */
:root {
  --mainFont: "Poppins", sans-serif;
  --borderRadius: 0.5rem;
  --borderRadiusLarge: 1.5rem;

  --primaryBackground: #fff;
  --primaryAccent: #73fbd3;
  --secondaryAccent: #31afd4;
  --primaryContrast: #2f4858;
  --secondaryContrast: #546d79;
  --tertiaryContrast: #64e9ee;
}

body {
  font-family: var(--mainFont);
  font-size: 1.8rem;
}

p {
  line-height: 2.7rem;
}

/*==========================
GENERAL LAYOUT
==========================*/
.primary-contrast-background {
  background-color: var(--primaryContrast);
}

.primary-contrast-background * {
  color: #fff;
}

.rounded-edges {
  border-radius: var(--borderRadiusLarge);
}

.full-height {
  height: 100vh;
}

/*==========================
GENERAL UI
==========================*/
.selected-text {
  color: var(--secondaryAccent);
}

.selected-area {
  color: var(--secondaryAccent);
}

i {
  color: var(--secondaryAccent);
}

.icon-large {
  font-size: 2rem;
}

small {
  font-size: 1rem;
}

/*=================== 
HEADERS
===================*/
h1 {
  font-size: 4rem;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.section-header {
  font-size: 4rem;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
}

.subheader {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: medium;
}

/*==========================
BUTTONS
===========================*/
.btn {
  padding: 0.5rem;
  margin: 1rem 0;
  cursor: pointer;
  font-size: 2.2rem;
  border-radius: var(--borderRadius);
  padding: 0.5rem 2rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  background-color: var(--primaryAccent);
  color: var(--secondaryContrast);
  transition: all 0.3s;
}

.btn-primary:hover {
  filter: brightness(80%);
  transition: all 0.3s;
}

/*================
FORMS 
================*/
form {
  display: block;
  width: 100%;
}

.form-only {
  padding: 3rem 0;
}

input {
  display: block;
  padding: 1rem;
  width: 100%;
  background-color: #fff;
  border: 0.1rem solid lightgray;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
  color: #000 !important;
}

input:focus {
  outline: none;
}

.form-error {
  color: red;
  display: block;
}

/* CHOOSE MONTH COMPONENT */

i {
  cursor: pointer;
}
.choose-month .fa-chevron-left {
  padding-right: 1rem;
}
.choose-month .fa-chevron-right {
  padding-left: 1rem;
}

.selection-list-item {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* CALENDAR GRID COMPONENT */
.calendar-grid h3 {
  display: inline;
}

.calendar-grid .col {
  padding: 2rem;
}

.calendar-grid sup {
  margin-left: 0.5rem;
}

.calendar-grid th,
.calendar-grid td {
  border-bottom: 0.1rem solid #ddd;
  padding: 1rem;
}
